
<!-- P A G I N A   N O S O T R O S -->

<!-- CONFIGURACION -->
---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
import Tarjeta from '../components/Tarjeta.astro';
import Foto1 from '../assets/Carpeta-Galeria/Nat23.jpg'
import Foto2 from '../assets/Carpeta-Galeria/Esc05.jpg'
import Foto3 from '../assets/Carpeta-Galeria/Nat25.jpg'
---

<!-- CODIGO -->
<Layout>
	<div class="pantalla-nosotros">
		<div>
			<div class="slogan">						
				<h2>Somos la mejor opcion para la personalizacion de la decoracion de tus espacios.</h2>		
			</div>
			<div class="deslogan">
				<h3>Contamos con un equipo de profesionales con experiencia en fotografia y  marqueteria para crear productos y diseños minimalistas que daran vida a tus espacios.</h3>
			</div>
			<div class="fotos">
				<img src={Foto1.src} alt="" width={150}>
				<img src={Foto2.src} alt="" width={100}>
				<img src={Foto3.src} alt="" width={150}>
			</div>
		</div>				
		<div>
			<div class="icono-tarjeta">
				<Icon name="mdi:file-document-edit"
                width={64}/>
				<div class="tarjeta1">
					<Tarjeta titulo="NUESTRA POLITICA" 
					descripcion="Enfoque a la atencion del Cliente, entendiendo sus requerimientos y generando  recomendaciones para la mejora y optimizacion de sus proyectos" />
				</div>
			</div>
			<div class="icono-tarjeta">
				<Icon name="mdi:checkbox-marked"
				width={64}/>
				<div class="tarjeta2">
					<Tarjeta titulo="NUESTRA MISION" 
					descripcion="Objetivo dirijido a la satisfaccion del Cliente, cumpliendo y superando sus espectativas con nuestros productos y servicios." />
				</div>
			</div>
			<div class="icono-tarjeta">
				<Icon name="mdi:checkbox-intermediate"
                width={64}/>
				<div class="tarjeta3">
					<Tarjeta titulo="NUESTRA VISION" 
					descripcion="Ser una empresa referente a nivel nacional en la produccion de arte fotografico para la decoracion de espacios" />
				</div>
			</div>
		</div>
	</div>
</Layout>

<!-- ESTILOS -->
<style>
.pantalla-nosotros {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding: 1% 3%;*/
}
.slogan {
	justify-content: space-between;
	padding: 1% 0%;
}
.deslogan {
	padding: 5% 0%;
}
.fotos {
	display: flex;
	justify-content: space-between;
}
.icono-tarjeta {
	display: flex;
	justify-content: start;
	align-items: start;
	padding: 5px 50px;
}
.tarjeta1 {
	/*justify-content: start;
	align-items: start;
	padding: 5px;*/
}
.tarjeta2 {
	/*justify-content: start;
	align-items: start;
	padding: 5px;*/
}
.tarjeta3 {
	/*display: flex;
	justify-content: start;
	align-items: center;
	padding: 5px;*/
}
</style>