---
// P A G I N A   N O S O T R O S

// CONFIGURACION
import Layout from '../layouts/Layout.astro';
// import { Icon } from 'astro-icon/components'
import Tarjeta from '../components/Tarjeta.astro';
import Foto1 from '../assets/img1.jpg'
import Foto2 from '../assets/img2.jpg'
import Foto3 from '../assets/img3.jpg'
---

<!-- CODIGO -->
<Layout>
	<div class="pantalla-nosotros">
		<div>
			<div class="slogan">						
				<h2>Somos la mejor opcion para la personalizacion de la decoracion de tus espacios.</h2>		
			</div>
			<div class="deslogan">
				<h3>Contamos con un equipo de profesionales con experiencia en fotografia y  marqueteria para crear productos y diseños minimalistas que daran vida a tus espacios.</h3>
			</div>
			<div class="fotos">
				<img src={Foto1.src} alt="" width={150}>
				<img src={Foto2.src} alt="" width={100}>
				<img src={Foto3.src} alt="" width={150}>
			</div>
		</div>				
		<div>
			<div class="icono-tarjeta ml-[0px]">
				<Tarjeta
					el_icono="mdi:file-document-edit"
					titulo="NUESTRA POLITICA"					
					descripcion="Enfoque a la atencion del Cliente, entendiendo sus requerimientos y generando  recomendaciones para la mejora y optimizacion de sus proyectos" 
				/>
			</div>
			<div class="icono-tarjeta ml-[24px]">
				<Tarjeta
					el_icono="mdi:checkbox-marked"
					titulo="NUESTRA MISION" 
					descripcion="Objetivo dirijido a la satisfaccion del Cliente, cumpliendo y superando sus espectativas con nuestros productos y servicios."				
				/>
			</div>
			<div class="icono-tarjeta ml-[48px]">				
				<Tarjeta
					el_icono="mdi:checkbox-intermediate"
					titulo="NUESTRA VISION"
					descripcion="Ser una empresa referente a nivel nacional en la produccion de arte fotografico para la decoracion de espacios"
				/>
			</div>
		</div>
	</div>
</Layout>

<!-- ESTILOS -->
<style>
.pantalla-nosotros {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:beige;
	padding: 38px;
}
.slogan {
	font-size: 24px;
	font-weight: bolt;
	justify-content: space-between;
	padding: 5px 0px;
}
.deslogan {
	font-size: 16px;
	font-weight: bolt;
	color: darkslategrey;
	padding: 5px 0px;
}
.fotos {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
img {box-shadow: 4px 5px 5px 0px rgba(75,72,72,0.75);
	-webkit-box-shadow: 4px 5px 5px 0px rgba(75,72,72,0.75);
	-moz-box-shadow: 4px 5px 5px 0px rgba(75,72,72,0.75);
}
.icono-tarjeta {
	display: flex;
	justify-content: start;
	align-items: start;
	padding: 5px 16px;
}
</style>