---
import Logo from '../assets/Logoi19.png'
---
<div>
    <p>------------ BANNER ------------</p>
    <div>
        <div>            
            <h1>
                TITULO PRINCIPAL
            </h1>
            <p>
                Explicacion del titulo principal
            </p>            
        </div>
        <button>Ejecutable</button>
    </div>
    <div>
        <img src={Logo.src} alt="">
    </div>
    <p>--------------- END ----------------</p>
</div>