---
import Logo from '../assets/Logoi19Gal.jpg'
---
<header>
	<nav>
		<p>----- MENU PRINCIPAL -----</p>		
		<div>
			<img src={Logo.src} alt="">
		</div>		
		<div>		
			<ul>
				<li>
					<a href="/">Inicio</a>
				</li>
				<li>
					<a href="/nosotros">Quienes Somos</a>
				</li>
				<li>
					<a href="/servicios">Servicios</a>
				</li>
				<li>
					<a href="/productos">Productos</a>
				</li>				
				<li>
					<a href="/contactanos">Contactanos</a>
				</li>				
			</ul>			
		</div>
		<button>Boton de Prueba</button>
		<p>----- END -----</p>
	</nav>
</header>
