<header>
	<nav>
		<!-- Logo -->
		<div>
			<img src="" alt="">
		</div>
		<!-- Enlaces & Boton -->
		<div>
			<ul>
				<li>
					<a href="/nosotros">Quienes Somos</a>
				</li>
				<li>
					<a href="/productos">Productos</a>
				</li>
				<li>
					<a href="/servicios">Servicios</a>
				</li>
				<li>
					<a href="/compras">Compras</a>
				</li>
				<li>
					<a href="/contactanos">Contactanos</a>
				</li>
			</ul>
		</div>
		<button>Boton de Prueba</button>
	</nav>
</header>
