
<!-- C O M P O N E N T E   M E N U -->

<!-- HERRAMIENTAS -->
---
import Logo from '../assets/LogoGaleria.jpg'
---

<!-- CODIGO -->
<header>
	<nav class="titulo-principal">				
		<div>
			<img src={Logo.src} alt="" width={128}>
		</div>		
		<div>		
			<ul class="lista-menu">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li>
					<a href="/nosotros">Quienes Somos</a>
				</li>
				<li>
					<a href="/productos-servicios">Productos & Servicios</a>
				</li>
				<li>
					<button>
						Galeria
					</button>
				</li>							
			</ul>						
		</div>					
	</nav>
	<p>---------------------------------------</p>
</header>

<!-- ESTILOS -->
<style>
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1% 3%;
}
.lista-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 48px;
}
button {
	color: blue;
	border-color: black;
	border-radius: 12;
	fill: grey;
}
</style>
