---
// C O M P O N E N T E   M E N U

// HERRAMIENTAS
import Logo from '../assets/Fotos-Pagina/LogoGaleria2.jpg'

---

<!-- CODIGO -->
<header>
	<nav class="titulo-principal">				
		<div>
			<img src={Logo.src} alt="" width={128}>
		</div>		
		<div>		
			<ul class="lista-menu">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li>
					<a href="/nosotros">Quienes Somos</a>
				</li>
				<li>
					<a href="/productos-servicios">Productos & Servicios</a>
				</li>
				<li>
					<a href="galeria-imagenes">
						<button>
							Galeria de Fotos
						</button>
					</a>			
				</li>							
			</ul>						
		</div>					
	</nav>
</header>

<!-- ESTILOS -->
<style>
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	background-color: lightseagreen;
	color: white;
}
.lista-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 48px;
	padding: 0px 50px;
}
img {
	box-shadow: 4px 5px 5px 0px rgba(75,72,72,0.75);
-webkit-box-shadow: 4px 5px 5px 0px rgba(75,72,72,0.75);
-moz-box-shadow: 4px 5px 5px 0px rgba(75,72,72,0.75);
}
button {
	background-color: white;
	padding: 8px 24px;
	font-size: 14px;
	color: darkslategrey;
	font-weight: 600;
	letter-spacing: 0px;
	border-radius: 15px;
	border-color: aqua;
	border-width: 5px;
	box-shadow: 4px 5px 5px 0px rgba(75,72,72,0.75);
-webkit-box-shadow: 4px 5px 5px 0px rgba(75,72,72,0.75);
-moz-box-shadow: 4px 5px 5px 0px rgba(75,72,72,0.75);
}
</style>
