---
import { Icon } from 'astro-icon/components'
---

<footer>
    <p>--------- PIE DE PAGINA ---------</p>
    <div>
     <Icon name="line-md:instagram"
     width={24}
     height={24}
    />
    <Icon name="line-md:facebook"
     width={24}
     height={24}
    />
    <Icon name="line-md:twitter"
     width={24}
     height={24}
    />
    <Icon name="line-md:email"
     width={24}
     height={24}
    />
    <Icon name="line-md:phone"
     width={24}
     height={24}
    />
    </div>
    <p>--------- END ---------</p>
</footer>