
<!-- C O M P O N E N T E   P I E   D E   P A G I N A -->

<!-- HERRAMIENTAS -->
---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
---

<!-- CODIGO -->
<footer>
<p>
	----------------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------------------
</p>
    <div class="pie-pagina">
        <ul>
            <li>Derechos reservados 2025 © I19 Galeria - RIF J-00000000-0</li>
            <li>Avenida 100 con calle 119 de El Viñedo. Valencia, Venezuela 2005.</li>
            <li>Horario: Lunes a Viernes de 8:00am a 5:00pm</li>
        </ul>
        <div>
            <div class="contacto">
                <Icon name="line-md:phone"
                width={24}
                height={24}
                />
                <p>+58 412.443.03.59</p>
            </div>
            <div class="contacto">    
                <Icon name="line-md:email"
                width={24}
                height={24}
                />
                <p>i19.galeria@gmail.com</p>
            </div>
        </div>
        <div>
            <div class="contacto">
                <Icon name="line-md:instagram"
                width={24}
                height={24}
                />
                <p>i19.galeria.instagram</p>
            </div>
            <div class="contacto"> 
                <Icon name="line-md:facebook"
                width={24}
                height={24}
                />
                <p>i19.galeria.facebook</p>    
            </div>
        </div>
        <div>
            <div class="contacto">   
                <Icon name="line-md:twitter"
                width={24}
                height={24}
                /> 
                <p>i19.galeria.twitter</p>
            </div>
            <div class="contacto"> 
                <Icon name="mdi:whatsapp"
                width={24}
                height={24}
                />
                <p>+58 412.443.03.59 </p>
            </div>
        </div>
        </div>
    </div>
</footer>

<!-- ESTILOS -->
<style>
.pie-pagina {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    color: gray;
}
.contacto {
	display: flex;
	justify-content: space-between;
    /*gap: 5;*/
    color: black;
}
</style>