---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
---

<footer>
    <p>--------- Pie de Pagina</p>
    <div class="pie-pagina">
        <ul>
            <li>Derechos reservados 2025 © I19 Ingenieria - RIF J-00000000-0</li>
            <li>Avenida 100 con calle 119 de El Viñedo. Valencia, Venezuela 2005.</li>
            <li>i19.ingenieria@gmail.com - +58 (412) 443.03.59</li>
            <li>Horario: Lunes a Viernes de 8:00am a 5:00pm</li>
        </ul>
        <div>
            <Icon name="line-md:phone"
            width={24}
            height={24}
            />
            <Icon name="line-md:email"
            width={24}
            height={24}
            />
        </div>
        <div>
            <Icon name="line-md:instagram"
            width={24}
            height={24}
            />
            <Icon name="line-md:facebook"
            width={24}
            height={24}
            />    
        </div>
        <div>  
            <!-- <Icon name="line-md:twitter"
            width={24}
            height={24}
            /> -->  
            <Icon name="line-md:twitter"
            width={24}
            height={24}
            />
        </div>
    </div>
    <p>--------- End</p>
</footer>

<style>
.pie-pagina {
	display: flex;
	/*justify-content: space-between;*/
	gap: 32px;
}
</style>