---
// C O M P O N E N T E   P I E   D E   P A G I N A

// HERRAMIENTAS
import Layout from '../layouts/Layout.astro';
import Tarjeta from '../components/Tarjeta.astro';
import { Icon } from 'astro-icon/components'
---

<!-- CODIGO -->
<footer>
    <div class="pie-pagina">
        <ul>
            <li>Derechos Reservados 2025 © I19 Galeria - RIF J-00000000-0</li>
            <li>Avenida 100 con Calle 119 de El Viñedo. Valencia, Venezuela 2005</li>
            <li>Horario: Lunes a Viernes de 8:00am a 5:00pm</li>
        </ul>
        <div>
            <Tarjeta
				el_icono="line-md:phone"				
				titulo="+58 412.443.03.59" 
				/>                     
            <Tarjeta
				el_icono="line-md:email"				
				titulo="i19.galeria@gmail.com" 
				/>                
        </div>
        <div>
            <Tarjeta
				el_icono="line-md:instagram"		
				titulo="@i19.galeria.instagram" 
				/>                     
            <Tarjeta
				el_icono="line-md:facebook"				
				titulo="i19.galeria.facebook" 
				/>
        </div>
        <div>
            <Tarjeta
				el_icono="line-md:twitter"		
				titulo="@i19.galeria.twitter" 
				/>                     
            <Tarjeta
				el_icono="mdi:whatsapp"				
				titulo="+58 412.443.03.59" 
				/>
        </div>        
    </div>
</footer>

<!-- ESTILOS -->
<style>
.pie-pagina {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 25px 40px;   
    font-size: 12px;    	
	color: white;
    background-color: lightseagreen;
}
.contacto {
	display: flex;
	justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}
</style>