<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>

		<header>
			<nav>
				<!-- Logo -->
				<div></div>
				<!-- Enlaces & Boton -->
				 <div>
					<ul>
						<li>Quienes Somos</li>
						<li>Productos</li>
						<li>Servicios</li>
						<li>Compras</li>
						<li>Contactanos</li>					</li>
					</ul>
					<button>Boton de Prueba</button>
				 </div>
			</nav>
		</header>

		<!-- ESTA PARTE ES DONDE SE VAN A MOVER LAS VISTAS -->
		<slot />

		<footer>
			Pie de Pagina
		</footer>
	</body>
</html>
